/* styles.css */
.btn {
    height: 50px; /* Set a fixed height */
    width : 50px; /* Set a fixed height */
    display: flex; /* Ensure the button contents are centered */
    align-items: center; /* Center the content vertically */
    justify-content: center; /* Center the content horizontally */
  }
  